.App {
  text-align: center;
  color: whitesmoke;
}

img {
  max-width:150px;
  margin: 2px;
}
.bg {
  background-image: url(./Image/RedRoom.JPG);
  width: 200px; 
  height: 200px;
  background-size: cover;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



