.cocktail-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: ;
  }
  
  .cocktail-card h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .cocktail-card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .cocktail-card ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .cocktail-card li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  
  /* .cocktail-card button {

    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  } */
  
  .cocktail-card button:hover {
    background-color: #0069d9;
  }
  