.searchInput {
    margin-top: 105px;
    display: flex;

}
form{ 
    display:flex-center;
}
.search input {
    background-color: rgb(128, 38, 38);
    border-bottom: solid 2px;
    border-radius: 25px;
   border: 2px solid #73AD21;
   padding: 20px; 
    border-color: transparent ;
    font-size: 18px;
    font-style: italic;
    padding: 0px 12px 10px;
    border-bottom-color: rgb(191, 165, 165);
    color: rgb(222, 182, 182);
    padding: 15px;
    height: 20px;
    width: 300px;

}

button {
    background-color: rgb(128, 38, 38);
    display: center;
    align-items: center ;
    text-rendering: auto;
    color: rgb(171, 145, 145);
    border-bottom: solid 2px;
    border-radius: 25px;
   border: 2px solid #73AD21;
   padding: 20px; 
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-image: initial;
}


input:focus {
    outline: floralwhite;
}

.searchIcon svg {
    font-size: 35px;
}
